<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eventBRefinementSlicer.ui.editors.SelectionEditor"
            default="true"
            id="eventBRefinementSlicer.editors.RefinementSlicer"
            name="Refinement Slicer">
         <contentTypeBinding
               contentTypeId="org.eventb.core.machineFile">
         </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="org.eventb.core.contextFile">
         </contentTypeBinding>
      </editor>
   </extension>

</plugin>
