<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eventBSliceAndMerge.ui.editors.SelectionEditor"
            default="true"
            id="eventBSliceAndMerge.editors.SelectionEditor"
            name="Slice and Merge">
         <contentTypeBinding
               contentTypeId="org.eventb.core.machineFile">
         </contentTypeBinding>
      </editor>
   </extension>

</plugin>
